@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  box-sizing: border-box;
}
:root {
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
}
.hide{
  display: none;
}
/* Header section (menu, logo) */
.header__container{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.header__container div{
  margin-top: 1rem;
}
.menuIcon{
  cursor: pointer;
}
/* .blur is the smoky effect that appear when the menu is open */
.blur{
  width: 35%;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  height: 100vh;
  left: 0%;
  top: 0;
}
.menuMobile{
  width: 65%;
  position: absolute;
  background-color: var(--almostWhite);
  height: 100vh;
  top: 0%;
  left: 35%;
  color: var(--mediumGray);
}
.menuIconX{
  display: flex;
  justify-content: flex-end;
}
.menuIconX img{
  margin-right: 1rem;
  cursor: pointer;
}
.listContainer{
  margin: 2rem 0;
}
.listContainer li{
  margin: 2rem 0;
  color: var(--mediumGray);
}
.menuMobile ul li{
  list-style: none;
}
.menuMobile ul li a{
  text-decoration: none;
  color: var(--almostBlack);
}
.subMenu{
  display: none;
}
.listContainer li:nth-of-type(-n + 2)::after{
  content: url(images/icon-arrow-down.svg);
  padding-left: .5rem;
}
.button_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button_container button{
  width: 80%;
  border: none;
  margin: .5rem 0;
  background-color: transparent;
  color: var(--mediumGray);
}
.register{
  padding: .7rem 1.4rem;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid var(--mediumGray) !important;
}

/* End of header section */







/* Main Section (main image, info, buttons, clients images)*/
main{
  margin: 2rem 0;
}
.main__image{
  width: 100vw;
  margin: 1rem 0;
}
.main__image img{
  width: 100%;
}
.mainInfo{
    text-align: center;
    margin: 2rem 0;
}
.info__bigLetters{
  font-size: 2rem;
}
.info__para{
  color: var(--mediumGray);
  padding: .5rem;
  line-height: 1.5rem;
}
.info__learnMore{
    margin: 1.5rem 0;
    padding: .9rem 1.4rem;
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    border: none;
    border-radius: .8rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.main__brands{
  width:  100%;
  display: flex;
  justify-content: space-between;
}
.main__brands img{
  width: 18%;
  height: 20%;
}
/* End of main section */